@import "/common/common.css";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

section > div:nth-child(1){
    width: 100%;
}

.container .row{
    width: 80%;
    margin: auto;
}

.container .row .header h1{
    padding-top: 30px;
    font-size: 45px;
    color: rgb(176, 197, 243);
}

.container .row .header p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
    font-family: "PoppinsSemiBold";
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: #fff;
}

.content .card img{
    width: 100%;
    height: auto;
}

[title~="highlight"]{
    border: 4px solid blue;
}

.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}
.content .card p{
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
    word-break: keep-all;
    font-family: "Poppins";
}

p::first-line {
  color: #1100ff;
  font-variant: small-caps;
}

time{
    color: #2c1ee7;
}

@media screen and (max-width:768px) {
    .content{
        flex-direction: column;
    }
}